/* código */
body {
	background-color: black;
	color: #CCC;
	font-family: 'Raleway', sans-serif;
	/* reset */
	margin: 0 auto;
	padding: 0;
}
.row .col{
    padding: 0 !important;
}
/* materialize*/
.btn, .btn-large {
    text-decoration: none;
    color: #666;
    background-color: #f4a728;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
    padding-top: 1vh;
    height: 8vh;
}
.btn:hover, .btn-large:hover {
    background-color: #f4a728;
}
.input-field {
    position: relative;
}
/* base */
.color01 {
	color: #f4a728;
}
.color02 {
	color: white;
}
.uppercase {
	text-transform: uppercase;
	font-weight: bold;
}
/* index */
.principal {
	background-color: #3e3f41;/*background*/
	height: 100vh;
	padding-top: 12vh;
}
.logotipo-img {
	width: 40%;
	height: auto;
}
.user {
	margin-top: 8vh;
	background-color: white;
}
.cuenta {
	position: fixed;
	bottom: 2vh;
	width: 100%;
	text-align: center;
}
/* pagina */
.pagina {
	background-color: #dddee0;/*background*/
	height: 100vh;
	padding-top: 30vh;
}