/* código */
body {
	background-color: black;
	color: #CCC;
	font-family: 'Raleway', sans-serif;
	/* reset */
	margin: 0 auto;
	padding: 0;
}
.row .col{
    padding: 0 !important;
}
/* materialize*/
.btn, .btn-large {
    text-decoration: none;
    color: #666;
    background-color: #f4a728;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
    padding-top: 1vh;
    height: 8vh;
}
.btn-trans {
    text-decoration: none;
    color: white;
    background-color: #f4a728;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
    padding-top: 2vh;
    margin-top: 2vh;
    height: 7vh;
}
.btn:hover, .btn-large:hover {
    background-color: #f4a728;
}
.input-field {
    position: relative;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: #f4a728;
}
.side-nav li>a {
    color: #999;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
nav {
    color: #fff;
    background-color: #3e3f41;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
/* base */
.color01 {
	color: #f4a728;
}
.color02 {
	color: white;
}
.uppercase {
	text-transform: uppercase;
	font-weight: bold;
}
/* index */
.principal {
	background-color: #3e3f41;/*background*/
	height: 100vh;
	padding-top: 12vh;
}
.logotipo-img {
	width: 40%;
	height: auto;
}
.user {
	margin-top: 8vh;
	background-color: white;
}
.cuenta {
	position: fixed;
	bottom: 2vh;
	width: 100%;
	text-align: center;
}
/* pagina */
.pagina {
	background-color: #dddee0;/*background*/
	height: 100vh;
	padding-top: 30vh;
}
/* titulo */
.titulo {
	display: inline-flex;
	margin-right: 100px;
}